<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.example.backend.mapper.ArticleMapper">
    
    <select id="searchByKeyword" resultType="com.edu.example.backend.entity.Article">
        SELECT * FROM campus_hub_article
        <where>
            status = 1
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%') 
                OR content LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>
    
</mapper>