<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.example.backend.mapper.TopicMapper">
    
    <select id="searchByKeyword" resultType="com.edu.example.backend.entity.Topic">
        SELECT * FROM campus_hub_topic
        <where>
            <if test="keyword != null and keyword != ''">
                AND (name LIKE CONCAT('%', #{keyword}, '%') 
                OR description LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>
    
    <select id="searchTopics" resultType="com.edu.example.backend.vo.SearchResultVO">
        SELECT 
            id,
            name as title,
            description as summary,
            'topic' as type
        FROM campus_hub_topic
        <where>
            <if test="keyword != null and keyword != ''">
                AND (name LIKE CONCAT('%', #{keyword}, '%') 
                OR description LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>
    
</mapper>