server:
  port: 9091

spring:
  application:
    name: campus-hub
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
  sql:
    init:
      mode: always
  encoding:
    charset: UTF-8
    enabled: true

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl